PORT=5000
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:5173
JWT_SECRET=super_secret_change_me
OMDB_API_KEY=99b965e6
MYSQL_HOST=mysql-1a041085-ambrishchormale-eb24.d.aivencloud.com
MYSQL_PORT=28386
MYSQL_USER=avnadmin
MYSQL_PASSWORD=your_password_here
MYSQL_DATABASE=defaultdb
MYSQL_SSL=true
